@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inconsolata:wght@200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  text-decoration: none;
  font-family: Cairo;
}

h3,
h5 {
  font-weight: 100;
}
.nav-links {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  justify-items: center;
  margin-bottom: 20px;
  background-color: black;
  padding: 20px;
}

.about {
  gap: 30px;
}
.nav-links * {
  color: white;
}

/* ************************************ */
body {
  background-color: rgb(16, 16, 58);
  color: white;
  height: 100vh;
  font-family: Inconsolata, cairo;
}
.side {
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  margin-top: 2%;
}

@media (max-width: 1110px) {
  .side {
    display: flex;
    flex-direction: column;
  }

  #sideBar {
    width: 700px !important;
    height: 300px !important;
    grid-template-columns: 1fr 1fr;
  }

  .sidePage-second-section {
    gap: 18px !important;
    align-items: flex-start;
  }
}

@media (max-width: 830px) {
}

/* :root {
  width: fit-content;
} */
.about {
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
#imgDiv {
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.566);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.3s ease;
}
.image-container:hover #imgDiv {
  left: 0;
}
.about img {
  justify-self: flex-end;
  border-radius: 50%;
}
.about a {
  color: white;
}

#sideBar {
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  border-radius: 10px;
  color: white;
  width: 300px;
  height: 600px;
  background-color: #a4dfff3e;
  padding: 20px;
}
#sideBar img,
#sideBar h3 {
  justify-self: center;
}
.sidebar-items {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 18px;
  height: 20px;
}

#links a {
  cursor: pointer;
  color: white;
  font-size: 34px;
  transition: all 0.3s ease;
}
#links a.linkedin:hover {
  color: #0077b5 !important;
}
#links a.github:hover {
  color: #171515;
}
